In [1]:
import pandas as pd
# html is dirty, you should clean it very good (try using the API if there is one)
# excel is something you should not fight, most people can only use excel

In [2]:
html_url = 'https://www.basketball-reference.com/leagues/NBA_2019.html'
nba = pd.read_html(html_url)
len(nba)

13

In [3]:
nba[0].head()

    Eastern Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0     Milwaukee Bucks*  60  22  0.732     —  118.1  109.3  8.04
1     Toronto Raptors*  58  24  0.707   2.0  114.4  108.4  5.49
2  Philadelphia 76ers*  51  31  0.622   9.0  115.2  112.5  2.25
3      Boston Celtics*  49  33  0.598  11.0  112.4  108.0  3.90
4      Indiana Pacers*  48  34  0.585  12.0  108.0  104.7  2.76

In [4]:
sp = pd.read_html('https://en.wikipedia.org/wiki/South_Park')
len(sp)
sp[3].head()

        0                                                  1
0    Kids  Stan Marsh Kyle Broflovski Eric Cartman Kenny ...
1  Adults  Randy and Sharon Marsh Gerald and Sheila Brofl...
2   Lists  Families Children School staff Other recurring...

In [5]:
# the read_excel method
df = pd.read_excel('movies.xls', sheet_name='2000s')
df.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,102 Dalmatians,2000,Adventure|Comedy|Family,English,USA,G,100.0,1.85,85000000.0,66941559.0,...,2000.0,795.0,439.0,4182,372,1,26413,77.0,84.0,4.8
1,28 Days,2000,Comedy|Drama,English,USA,PG-13,103.0,1.37,43000000.0,37035515.0,...,12000.0,10000.0,664.0,23864,0,1,34597,194.0,116.0,6.0
2,3 Strikes,2000,Comedy,English,USA,R,82.0,1.85,6000000.0,9821335.0,...,939.0,706.0,585.0,3354,118,1,1415,10.0,22.0,4.0
3,Aberdeen,2000,Drama,English,UK,NaN,106.0,1.85,6500000.0,64148.0,...,844.0,2.0,0.0,846,260,0,2601,35.0,28.0,7.3
4,All the Pretty Horses,2000,Drama|Romance|Western,English,USA,PG-13,220.0,2.35,57000000.0,15527125.0,...,13000.0,861.0,820.0,15006,652,2,11388,183.0,85.0,5.8

In [6]:
# ExcelFile class
ef = pd.ExcelFile('movies.xls')
ef.sheet_names

['1900s', '2000s', '2010s']

In [7]:
y90 = ef.parse(ef.sheet_names[0])
y90.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [8]:
y90.dtypes

Title                           object
Year                             int64
Genres                          object
Language                        object
Country                         object
Content Rating                  object
Duration                         int64
Aspect Ratio                   float64
Budget                         float64
Gross Earnings                 float64
Director                        object
Actor 1                         object
Actor 2                         object
Actor 3                         object
Facebook Likes - Director        int64
Facebook Likes - Actor 1         int64
Facebook Likes - Actor 2         int64
Facebook Likes - Actor 3       float64
Facebook Likes - cast Total      int64
Facebook likes - Movie           int64
Facenumber in posters            int64
User Votes                       int64
Reviews by Users                 int64
Reviews by Crtiics             float64
IMDB Score                     float64
dtype: object

In [9]:
# save processed data
y90.to_excel('out.xlsx', index=None)
pd.read_excel('out.xlsx').head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0